* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #262a26;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #FFF;
    width: 300px;
    height: 330px;
    padding: 20px;
    border-radius: 10px;
}

.container h3 {
    margin-bottom: 15px;
    font-family: poppins, sans-serif;
    font-size: 16px;
}

.container input {
    width: 230px;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 20px;
}

button {
    width: 230px;
    padding: 10px;
    border-radius: 5px;
    background: #4c59ee;
    color: #fff;
    border: 0;
}

#qrImg{
   margin-bottom: 10px;
   padding: 0 50px;
}
